[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "lib/msdfgen/msdfgen"]
	path = lib/msdfgen/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "lib/cpp-base64/cpp-base64"]
	path = lib/cpp-base64/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "lib/json11/json11"]
	path = lib/json11/json11
	url = https://github.com/dropbox/json11.git
